.send-btn {
  display: relative;
  height: 80px;
  width: 100%;
  margin-top: -20%;
  float: right;
  font-size: 18px;
  background: rgba(99, 99, 240, 0.616);
  color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.212);
  border-radius: 38px;
}

.send-btn:hover {
  background: rgb(128, 98, 211);
}

.sendBar {
  float: right;
  width: 26%;
  height: 80px;
}

@media only screen and (max-width: 700px) {
  .send-btn {
    height: 80px;
    width: 100%;
    float: right;
    margin: auto;
    font-size: 18px;
    background: rgba(99, 99, 240, 0.616);
    color: white;
    border: 1.5px solid rgba(0, 0, 0, 0.212);
    border-radius: 38px;
  }

  .sendBar {
    float: right;
    width: 100%;
    height: 80px;
  }
}
