.sign-in-form {
  background-color: rgba(44, 116, 211, 0.5);
  width: 100%;
  height: 5%;
  overflow: hidden;
}

.sign-in-btn {
  float: right;
  background-color: rgba(163, 85, 226, 0.753);
  border: 0.5px solid rgb(0, 0, 0);
  height: 100%;
  width: 80px;
}

input {
  align-content: center;
  height: 100%;
  border: none;
  border-right: 1px solid black;
  width: 40%;
}
